{% extends "base.html.twig" %}

{% block body %}
    {# Commentaire #}
    <h1>Partagez vos jeux sur MoiJV!!!</H1>
    <a href="{{path('logout')}}">Deconnexion</a>
    {# <p><?php echo $msg; ?> #}
    <h2>Liste des utilisateurs</h2>
    
    <ul>
        {# <?php foreach($users as $user): ?> #}
        {% for user in users %} 
            <li>{{user.username}} {{user.email}}</li>
        {% endfor %}
        {# <?php endforeach; ?> #}
    </ul>
    
{% endblock %}