{% extends "base.html.twig" %}

{% block body %}
    {# Commentaire #}
    <h1>Partagez vos jeux sur MoiJV!!!</H1>
    {# <p><?php echo $msg; ?> #}
    <h2>Bienvenue sur la page d'accueil !</h2>
    
{% endblock %}